<div class="main">
  <ul>
    <li><%= image_tag 'main1.png', class: 'main--img' %></li>
    <li><%= image_tag 'main2.png', class: 'main--img' %></li>
    <li><%= image_tag 'main3.png', class: 'main--img' %></li>
  </ul>
</div>
<div class="container">
  <section class="news">
    <h2>
      NEWS
    </h2>
    <ul class="news--contents">
      <li>
        <a class="news--contents--a" href="#">
          <span class="news-date">2019.02.13</span>
          <span>作品メンテナンス完了のお知らせ</span>
          <i class="fa fa-caret-right"></i>
        </a>
      </li>
      <li>
        <a class="news--contents--a" href="#">
          <span class="news-date">2019.01.30</span>
          <span>作品移設のお知らせ</span>
          <i class="fa fa-caret-right"></i>
        </a>
      </li>
      <li class="news-last">
        <a class="news--contents--a" href="#">
          <span class="news-date">2019.01.29</span>
          <span>作品展示一部終了のお知らせ</span>
          <i class="fa fa-caret-right"></i>
        </a>
      </li>
    </ul>
    <div class="btn">
      <div class="btn-content">
        <div class="btn-hover"></div>
        <a class="btn--readmore" href="#">read more</a>
      </div>
    </div>
  </section>

  <section class="event">
    <h2>
      EVENT
    </h2>
    <ul>
      <li>
        <a class="event--box" href="#">
          <div class="before">read more</div>
          <div class="event-image">
            <%= image_tag 'event1.png' %>
          </div>
          <div class="event-date">
            <p class="round-date">2019 <br>02.23</p>
          </div>
          <div class="contents">
            <p class="contents--title">地元プロジェクト/「街の中の雲」</p>
            <p>道後アートプロジェクト・アートNPOカコア<br>飛鳥乃湯温泉中庭</p>
          </div>
        </a>
      </li>
      <li>
        <a class="event--box" href="#">
          <div class="before">read more</div>
          <div class="event-image">
            <%= image_tag 'event2.png' %>
          </div>
          <div class="event-date">
            <p class="round-date">2019 <br>02.23</p>
          </div>
          <div class="contents">
            <p class="contents--title">道後の”街”ダンス@道後商店街</p>
            <p>道後オンセナート実行委員会<br>道後商店街 ※道後温泉駅前放生園 坊ちゃんカラクリ時計前からスタートしますのでお集まりください</p>
          </div>
        </a>
      </li>
      <li class="last-box">
        <a class="event--box" href="#">
          <div class="before">read more</div>
          <div class="event-image">
            <%= image_tag 'event3.png' %>
          </div>
          <div class="event-date">
            <p class="round-date">2019 <br>02.22</p>
          </div>
          <div class="contents">
            <p class="contents--title">VJ NIGHT IN DOGO VOL.2 BY ENLIGHTEMENT</p>
            <p>道後オンセナート実行委員会<br>道後商店街アーケード</p>
          </div>
        </a>
      </li>
    <div class="btn">
      <div class="btn-content">
        <div class="btn-hover"></div>
        <a class="btn--readmore" href="#">read more</a>
      </div>
    </div>
  </section>

  <section class="event art">
    <h2>ART</h2>
    <ul>
      <li class="art-box">
        <a class="event--box art" href="#">
          <div class="before">read more</div>
          <div class="event-image art">
            <%= image_tag 'art1.png' %>
          </div>
          <div class="event-date art-date">
            <p class="art-round">2018</p>
          </div>
          <div class="contents art-contents">
            <p>ひかりの実</p>
            <p>髙橋匡太</p>
          </div>
        </a>
      </li>
      <li class="art-box">
        <a class="event--box art" href="#">
          <div class="before">read more</div>
          <div class="event-image art">
            <%= image_tag 'art2.jpg' %>
          </div>
          <div class="event-date art-date orange">
            <p class="art-round">2016</p>
          </div>
          <div class="contents art-contents">
            <p">見晴らし小屋</p>
            <p>山口 晃</p>
          </div>
        </a>
      </li>
      <li class="last-box art-box">
        <a class="event--box art" href="#">
          <div class="before">read more</div>
          <div class="event-image art">
            <%= image_tag 'art3.jpg' %>
          </div>
          <div class="event-date art-date">
            <p class="art-round">2018</p>
          </div>
          <div class="contents art-contents">
            <p>ジンタらムータ meets ”Memorial Rebirth” val.1 Val.2</p>
            <p>ジンタらムータ</p>
          </div>
        </a>
      </li>
      <li>
        <a class="event--box art" href="#">
          <div class="before">read more</div>
          <div class="event-image art">
            <%= image_tag 'art1.png' %>
          </div>
          <div class="event-date art-date">
            <p class="art-round">2018</p>
          </div>
          <div class="contents art-contents">
            <p">ひかりの実</p>
            <p>髙橋匡太</p>
          </div>
        </a>
      </li>
      <li>
        <a class="event--box art" href="#">
          <div class="before">read more</div>
          <div class="event-image art">
            <%= image_tag 'art2.jpg' %>
          </div>
          <div class="event-date art-date orange">
            <p class="art-round">2016</p>
          </div>
          <div class="contents art-contents">
            <p>見晴らし小屋</p>
            <p>山口 晃</p>
          </div>
        </a>
      </li>
      <li class="last-box art">
        <a class="event--box art" href="#">
          <div class="before">read more</div>
          <div class="event-image art">
            <%= image_tag 'art3.jpg' %>
          </div>
          <div class="event-date art-date">
            <p class="art-round">2018</p>
          </div>
          <div class="contents art-contents">
            <p>ジンタらムータ meets ”Memorial Rebirth” val.1 Val.2</p>
            <p>ジンタらムータ</p>
          </div>
        </a>
      </li>
    </ul>
    <div class="btn">
      <div class="btn-content">
        <div class="btn-hover"></div>
        <a class="btn--readmore" href="#">read more</a>
      </div>
    </div>
  </section>

  <section class="model-course">
    <h2>MODEL COURSE</h2>
    <div class="model-contents">
    <div class="btn">
      <div class="btn-content">
        <div class="btn-hover"></div>
        <a class="btn--readmore" href="#">read more</a>
      </div>
    </div>
  </div>
  </section>

  <section class="instagram">
    <h2>INSTAGRAM</h2>
    <div class="instagram--images">
      <%= image_tag 'insta1.jpg' %>
      <%= image_tag 'insta2.jpg' %>
      <%= image_tag 'insta3.jpg' %>
      <%= image_tag 'insta4.jpg' %>
      <%= image_tag 'insta5.jpg' %>
      <%= image_tag 'insta6.jpg' %>
      <%= image_tag 'insta7.jpg' %>
      <%= image_tag 'insta8.jpg' %>
    </div>
    <div class="btn">
      <div class="btn-content">
        <div class="btn-hover"></div>
        <a class="btn--readmore" href="#">read more</a>
      </div>
    </div>
  </section>
</div>
