<div class="news-contents">
  <div class="n-title">
    <h2><%= @topic.title %></h2>
    <div class="news-date"><%= @topic.created_at.strftime("%Y.%m.%d") %></div>
  </div>
  <div class="news-contents-pic">
    <% unless @topic.image.blank? %>
      <%= image_tag @topic.image.url %>
    <% end %>
  </div>
</div>
<div class="news-text">
  <p><%= @topic.body %></p>
</div>
<div class="n-buttons">
  <div class="n-buttons-contents">
    <ul>
      <li class="first-button">
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <a class="btn--readmore" href="#">prev</a>
          </div>
        </div>
      </li>
      <li>
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <%= link_to "news top", topics_path, class: 'btn--readmore' %>
          </div>
        </div>
      </li>
      <li class="last-button">
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <a class="btn--readmore" href="#">next</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
