<div class="container">
  <div class="container-title">
    <h3>イベント</h3>
  </div>
  <div class="event-index">
    <div class="event-index-box">
      <ul>
        <% @events.each do |event| %>
        <li class="event-info">
          <%= link_to event_path(event.id), class: 'event-info' do %>
            <div class="before">read more</div>
            <div class="event-date"><%= event.created_at.strftime("%Y.%m.%d") %></div>
            <div class="event-img">
              <%= image_tag 'art1.png' %>
            </div>
            <div class="event-details">
              <div class="event-name">
                <p>イベント名：<%= event.e_title %></p>
              </div>
              <div class="event-host">
                <p>主催：<%= event.host %></p>
              </div>
              <div class="event-price">
                <p>参加費：<%= event.price %></p>
              </div>
            </div>
           <% end %>
         </li>
       <% end %>
      </ul>
    </div>
  </div>
</div>
