<div class="form-container">
  <h3>イベント投稿</h3>

  <div class="form-content">
    <p id="red-border">イベントの投稿は下記フォームよりお願いいたします。<br>（<span>※</span>は必須入力項目となります。）</p>

    <div class="form">
      <%= form_for @event do |f| %>
        <table>
          <tbody>
            <tr>
              <th>
                <%= f.label :イベントタイトル %><span>*</span>
              </th>
              <td>
                <%= f.text_field :e_title, placeholder: 'イベント名を記入してください。' %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :時間 %><span>*</span>
              </th>
              <td>
                <%= f.text_field :time, placeholder: '5/4 10:30-12:30' %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :開催日 %><span>*</span>
              </th>
              <td>
                <%= f.text_field :date, placeholder: '05月04日' %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :主催者 %><span>*</span>
              </th>
              <td>
                <%= f.text_field :host, placeholder: '主催者を記入してください。' %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :場所 %><span>*</span>
              </th>
              <td>
                <%= f.text_field :place, placeholder: 'イベント開催場所を記入してください。' %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :参加費 %><span>*</span>
              </th>
              <td>
                <%= f.text_field :price, placeholder: '無料' %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :イベントの内容 %><span>*</span>
              </th>
              <td>
                <%= f.text_area :e_body, placeholder: 'イベントの内容を記入してください。' %>
              </td>
            </tr>
            <tr>
              <th>
                <%= f.label :画像ファイル添付 %>
              </th>
              <td>
                <%= f.file_field :e_image %>
              </td>
            </tr>
          </tbody>
        </table>
        <p>入力内容を再度ご確認の上、間違えがなければ下の送信ボタンをクリック・タップしてください。</p>
        <p class="submit">
          <%= f.submit 'イベントを投稿する', class: 'submit-btn' %>
        </p>
      <% end %>
    </div>
    </div>

    <div class="notes">
    </div>
  </div>
</div>
