<div class="event-container">
  <div class="event-details">
    <dl class="event-name">
      <dt>イベント名：</dt>
      <dd><%= @event.e_title %></dd>
    </dl>
    <dl class="event-date">
      <dt>開催日：</dt>
      <dd><%= @event.date %></dd>
    </dl>
    <dl class="event-time">
      <dt>時間：</dt>
      <dd><%= @event.time %></dd>
    </dl>
  </div>

  <div class="event-poster">
    <% unless @event.e_image.blank? %>
      <%= image_tag @event.e_image.url %>
    <% else %>
      <div class="no-image-event">
        <p>No Image</p>
      </div>
    <% end %>
  </div>

  <div class="event-text">
    <p><%= @event.e_body %></p>
    <% if user_signed_in? && current_user.id == @event.user_id %>
      <div class="more">
        <span><i class="fa fa-chevron-circle-down fa-lg"></i></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', "/events/#{@event.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/events/#{@event.id}", method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="event-details" id="bottom-detail">
    <dl class="event-host">
      <dd>主催：</dd>
      <dd><%= @event.host %></dd>
    </dl>
    <dl class="event-place">
      <dd>場所：</dd>
      <dd><%= @event.place %></dd>
    </dl>
    <dl class="event-price">
      <dd>参加費：</dd>
      <dd><%= @event.price %></dd>
    </dl>
  </div>

  <div class="e-button">
    <ul>
      <li class="first-b">
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <a class="btn--readmore" href="#">prev</a>
          </div>
        </div>
      </li>
      <li>
        <div class="btn">
          <div class="btn-content">
            <div class="btn-hover"></div>
            <%= link_to "event top", events_path, class: 'btn--readmore' %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
