<div class="container">
  <div class="container-title">
    <h3>最新情報</h3>
  </div>

  <section class="news-sec">
    <h2 class="news-month">2019 02 February</h2>
    <ul>
      <% @news.each do |news| %>
      <li>
        <%= link_to "/news/#{news.id}", method: :get, class: 'news-box' do %>
          <div class="before">read more</div>
          <div class="news-date"><%= news.created_at.strftime("%Y.%m.%d") %></div>
          <div class="news-image">
            <%= image_tag news.image %>
            <div class="red-box">
              <p><%= news.title %><i class="fa fa-caret-right"></i></p>
            </div>
          </div>
         <% end %>
      </li>
    <% end %>
    </ul>
  </section>

  <section class="news-sec">
    <h2 class="news-month">2019 01 January</h2>
    <ul>
      <li>
        <a class="news-box" href="#">
          <div class="before">read more</div>
          <div class="news-date">2019.01.30</div>
          <div class="news-image">
            <%= image_tag 'art1.png' %>
            <div class="red-box">
              <p>作品移設のお知らせ<i class="fa fa-caret-right"></i></p>
            </div>
          </div>
         </a>
      </li>
      <li>
        <a class="news-box" href="#">
          <div class="before">read more</div>
          <div class="news-date">2019.01.30</div>
          <div class="news-image">
            <%= image_tag 'art1.png' %>
            <div class="red-box">
              <p>作品移設のお知らせ<i class="fa fa-caret-right"></i></p>
            </div>
          </div>
         </a>
      </li>
    </ul>
  </section>
</div>
