<header>
  <div class="header--contents">
    <div class="logo">
      <a href="#">
        <%=image_tag('onsenart_logo.svg')%>
      </a>
    </div>
    <ul class="header--topnav">
      <% if user_signed_in? %>
        <li class="header--topnav__lung user">
          <span><%= current_user.nickname %></span>
        </li>
        <li class="header--topnav__lung signIn">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="header--topnav__lung en">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
        </li>
        <li class="header--topnav__lung signIn">
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </li>
      <% end %>
    </ul>

    <div class="header--glovalnav">
      <ul>
        <li>
          <%= link_to abouts_path, method: :get do %>
            <span class="eng">ABOUT</span>
            <span class="ja">道後オンセナートとは</span>
          <% end %>
        </li>
        <li>
          <%= link_to news_index_path, method: :get do %>
            <span class="eng">NEWS</span>
            <span class="ja">最新情報</span>
          <% end %>
        </li>
        <li>
          <%= link_to events_path, method: :get do %>
            <span class="eng">EVENT</span>
            <span class="ja">イベント情報</span>
          <% end %>
        </li>
        <li>
          <%= link_to new_news_path, method: :get do %>
            <span class="eng">POST NEWS</span>
            <span class="ja">ニュース投稿</span>
          <% end %>
        </li>
        <li>
          <%= link_to new_event_path, method: :get do %>
            <span class="eng">POST EVENTS</span>
            <span class="ja">イベント投稿</span>
          <% end %>
        </li>
        <li class="last">
          <%= link_to contacts_path, method: :get do %>
            <span class="eng">CONTACT</span>
            <span class="ja">お問い合わせ</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>
